@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: inherit;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

.notice {
  text-align: center;
  font-size: 1.2rem;
}
